
<div class="container-fluid" >
    <div class="row">
        <div class="col">
            <div class="col-lg-8">
                <br>
                <br>
                <label class="mr-2" for=""><b> Shorten your URL here - </b></label>
                <br>
                <input required type="url" class="mb-2 mr-3" placeholder="Paste here" [(ngModel)]="longUrl">
                <button class="button btn btn-primary btn-sm mt-5 mb-5" (click)="generate()">Shorten</button>
                <div>
                    <h6><b>Short Url - </b></h6><a href="{{longUrl}}" target="_blank"><b>{{shortUrl}}</b></a>
                </div>
            </div>

        </div>
    </div>
</div>