<div class="container">
    <div class="row">
        <div class="col-5">
            <br>
            <br>
            <br>
            <br>
            <h1 style="text-align: left;">Short links, big results</h1> 
            <br>
            <h3 style="text-align: left;color: grey;">A URL shortener built with powerful tools to help you grow and protect your brand. </h3>
        </div>
        <div class="col-3">
            <br>
            <br>
        <img src="assets/icon.jpeg">
      </div>
</div>